html {
  box-sizing: border-box;
  font-family: 'Bevan', sans-serif;
  line-height: 1.5;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header {
  background-color: #79756f;
  border: .7em 0;
  margin: 0;
  padding: .05em 0;
  text-align: center;
}

div {
  color: #fff;
  background-color: #79756f;
  margin: .1em 0;
}

body {
  background-color: #79756f;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
  margin: 0;
}

nav {
  list-style-type: georgian;
  text-decoration: none;
  background-color: #79756f;
}

ul {
  text-decoration: none;
  background-color: #79756f;
  text-align: center;
  margin: .5rem;
  padding: .3rem;
}

li {
  list-style: none;
  text-decoration: none;
  background-color: #79756f;
  display: inline-block;
  text-align: center;
}

a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-family: sans-serif;
  font-weight: bold;
  padding: .5em;
  background-color: #713837;
  color: #fff;
  border-radius: .25em;
}

.btn:hover {
  background-color: #f33;
}
